@import url(./variables.css);
@import url(./header.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --bg-color: var(--very-light-gray);
    --element-color: var(--white);
    --element-text-color: var(--dark-gray);
    --flag-box-text: var(--very-dark-blue-light);
}

body {
    font-family: "Nunito Sans", sans-serif;
    min-height: 100vh;
    background-color: var(--bg-color);
}

main {
    padding: 3rem 2rem;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

.back-home-btn {
    background-color: var(--element-color);
    color: var(--element-text-color);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.8rem;
    text-transform: capitalize;
    border-radius: 3px;
    box-shadow: 0 0 8px #0b06066a;
    cursor: pointer;
}

.back-home-btn:hover {
    background-color: var(--element-text-color);
    color: var(--element-color);
}

/* grid and flex section */
.country-details {
    display: flex;
    flex-direction: column;
    margin-block: 3rem;
    justify-content: center;
    max-width: fit-content;
    margin-inline: auto;
    /* align-items: center; */
}

/* Country-Info */
.country-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--dark-gray);
}


.country-flag img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
}

.country-name {
    color: var(--flag-box-text);
    font-size: 1.2rem;
    grid-column: span 2;
    margin-block: 2.5rem 1.5rem;
}

.country-info ul {
    list-style: none;
}

.country-info li {
    white-space: nowrap;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.country-info li span {
    color: var(--flag-box-text);
    font-weight: 500;
}

/* Border Countries */
.border-countries {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
}

h2 {
    font-size: 0.8rem;
    font-weight: 600;
    white-space: nowrap;
    margin-right: 1rem;
    color: var(--flag-box-text);
}

.border-countries ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.border-countries ul li {
    background-color: var(--element-color);
    font-weight: 100;
    font-size: 0.6rem;
    width: 90px;
    text-align: center;
    padding: 0.4rem 0.8rem;
    white-space: wrap;
    cursor: pointer;
    border-radius: 2px;
    color: var(--element-text-color);
    box-shadow: 0 0 6px #0b060681;
    cursor: pointer;
}

.border-countries ul li:hover {
    background-color: var(--element-text-color);
    color: var(--element-color);
}


@media screen and (min-width: 768px) {
    .country-details {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: 1200px;
        margin: 3rem auto;
    }

    .country-flag {
        display: flex;
        align-items: center;
        flex: 1;
        margin-right: 3rem;
        margin-block: auto;
    }

    .country-flag img {
        display: block;
        width: 100%;
        max-height: 300px;
    }

    .country-box {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .country-info {
        flex-direction: row;
        justify-content: space-between;
    }

    .border-countries {
        align-items: center;
    }
}